.favoriteLocationImg {
  height: 222px;
  width: 100%;
}

#favoriteBin {
  border-radius: 50%;
  background-color: #ff6752;
  height: 40px;
  width: 40px;
}

@media (min-width: 320px) and (max-width: 429.98px) {
  #favoriteContainer {
    margin-top: 19%;
  }
}

@media (min-width: 425px) and (max-width: 767.98px) {
  #favoriteContainer {
    margin-top: 14%;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  #favoriteContainer {
    margin-top: 11%;
  }
}

@media (min-width: 1200px) {
  #favoriteContainer {
    margin-top: 7%;
  }
}

#font {
  font-family: 'Lato', sans-serif;
}
