.carousel-inner > .carousel-item {
  max-height: 70vh;
}

.text {
  color: red;
}


.home-page-circle {
    border-radius: 50%;
    background: red;
    height: 200px;
    width: 200px;    
    margin: auto;
}

.comment-initial {
    margin: 30px;
}   



@media only screen and (max-width: 425px) {
    .home-page-circle {
        border-radius: 50%;
        background: red;
        height: 100px;
        width: 100px;    
        margin: auto;
    }
}