#locationInfoImg {
  height: 70vh;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  #locationInfoImg {
    height: 40vh;
  }
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
  #locationInfoImg {
    height: 50vh;
  }
}

.websiteLink {
  color: black;
}

.googleMap {
  height: 30vh;
  width: 100%;
}
.test {
  font-size: 40px;
}

#font {
  font-family: 'Lato', sans-serif;
}
