#navbar {
  font-family: 'Roboto Condensed', sans-serif;
  background: white;
}

#modalList {
  list-style: none outside none;
}

.footer {
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: red;
  color: black;
}


#font2 {
  font-family: 'Faster One', cursive;
}
